In [1]:
# Import Numpy for calculations and matplotlib for charting

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


#prettify the plot
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline

In [2]:
# Create Synthetic Data

df = pd.DataFrame(np.random.randint(100,size=(100,2)), columns=['male','female'])
df.head()

   male  female
0    36      45
1     7       4
2    74      79
3    27      33
4    24      17

In [ ]:
#Plot Scatter Plot

df.plot.scatter(x= 'male', y ='female')

In [ ]:
#Add new columns 'Score'

df['score'] = df.male * 0.3 + df.female * 0.7

In [ ]:
df.head()

In [ ]:
#Plot Scatter Plot
plt.figure()
df.plot.scatter(x= 'male', y ='female', s=df.score)
plt.savefig('Resources/pltsave/heatMap.png', bbox_inches='tight')