In [2]:
# Import Libraries

import os
import pandas as pd
import numpy as np

%matplotlib inline

In [3]:
# Location

file = os.path.join('Resources', 'AAPL.csv')

In [4]:
# Read csv

aapl = pd.read_csv(file)
aapl.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-09-30,112.459999,113.370003,111.800003,113.050003,36379100,113.050003
1,2016-09-29,113.160004,113.800003,111.800003,112.180000,35887000,112.180000
2,2016-09-28,113.690002,114.639999,113.430000,113.949997,29641100,113.949997
3,2016-09-27,113.000000,113.180000,112.339996,113.089996,24607400,113.089996
4,2016-09-26,111.639999,113.389999,111.550003,112.879997,29869400,112.879997